@model Domains.TbBlogTag
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 breadcrumb-wrapper mb-4">
        <span class="text-muted fw-light">الوحة التحكم/</span>  اضافة اسم  تاج للمدونة
    </h4>

    <!-- Basic Layout -->
    <div class="row">
        <div class="col-xl">



            <!-- Multi Column with Form Separator -->
            <div class="card mb-4">
                <h5 class="card-header">عناصر  اسماء تاج مدونات</h5>
                <form id="form" enctype="multipart/form-data" method="post" role="form" asp-area="Admin" asp-controller="BlogTag" asp-action="Save" class="card-body">


                    <div class="row g-3">
                        <div class="col-md-12">
                            <input type="hidden" asp-for="BlogTagId">
                            <input type="hidden" asp-for="CreatedDate">
                            <label class="form-label" for="basic-default-fullname">  اسم تاج المدونة</label>
                            <input asp-for="BlogTaName" type="text" class="form-control" id="basic-default-fullname" placeholder="     اسم تاج المدونة" />
                            <span asp-validation-for="BlogTaName" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            
                            <label class="form-label" for="basic-default-fullname">  اسم تاج المدونة الانجليزي</label>
                            <input asp-for="BlogTaNameEn" type="text" class="form-control" id="basic-default-fullname" placeholder="      اسم تاج المدونة الانجليزي" />
                            <span asp-validation-for="BlogTaNameEn" class="text-danger"></span>
                        </div>
                     


                       





                      





                       




                        <div class="pt-4">
                            <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>

                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>


</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
   

 }