@{
    Layout = "";
}
@model ForgotPasswordViewModel
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Benzoo</title>
  <link rel="icon" type="image/png" href="assets/images/icons/favicon.png">
  <script src="~/Benzoo/assets/js/webfont.js" async=""></script>
  <link rel="preload" href="~/Benzoo/assets/vendor/fontawesome-free/webfonts/fa-regular-400.woff2" as="font" type="font/woff2"
    crossorigin="anonymous">
  <link rel="preload" href="~/Benzoo/assets/vendor/fontawesome-free/webfonts/fa-solid-900.woff2" as="font" type="font/woff2"
    crossorigin="anonymous">
  <link rel="preload" href="~/Benzoo/assets/vendor/fontawesome-free/webfonts/fa-brands-400.woff2" as="font" type="font/woff2"
    crossorigin="anonymous">
  <link rel="preload" href="~/Benzoo/assets/fonts/wolmart.ttf" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="~/Benzoo/assets/vendor/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="~/Benzoo/assets/vendor/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" type="text/css" href="~/Benzoo/assets/vendor/animate/animate.min.css">
  <link rel="stylesheet" type="text/css" href="~/Benzoo/assets/vendor/magnific-popup/magnific-popup.min.css">
  <link rel="stylesheet" type="text/css" href="~/Benzoo/assets/css/style.min.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800%7CSeoge+Script:400,500,600,700,800"
    media="all">
</head>

<body class="loaded" style="background-color: #063a67;">
  
  <div class="page-wrapper">
    <main class="main">
      <div class="page-content">
          <a href="index.html" class="logo">
            <img class="pt-4 pl-3" src="~/Benzoo/assets/images/logo.png" alt="Logo" width="168" height="53">          
          </a>
          <div class="container">
          <div class="row">
          <div class="col-lg-7">
            <div class="coming-content">
              <h2 class="coming-title ls-25">We have your 
                <span>back!</span></h2>
            </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-4 pt-10">
            <div class="signup">
              <h3>Forgot Password?</h3>
              <p style="color: #d3d3d3;">We’ll send you an email with link that allows you to set new password</p>
             <br>
              <form class="form account-details-form" asp-controller="Home" asp-action="ForgotPassword" method="post" role="form">
                   <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input type="text" asp-for="Email" placeholder="Email" class="form-control pl-3 form-control-md">
                             <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                         <button type="submit" class="btn btn-primary btn-shadow btn-rounded w-100" style="color: #fff;">Confirm</button>
                </form>
               
                
                <p style="text-align: center;">Go back to <a asp-controller="Home" asp-action="login">  Login </a></P>
            </div>
          </div>

        </div>
      </div>
      </div>
    </main>
  </div>
  <div class="container">
    <div class="footer-bottom">
        <div class="footer">
            <p class="copyright text-white">Copyright © 2021 Benzoo Store. All Rights Reserved.</p>
            <a href="">Terms & Conditions</a>
            <a href="">Privacy notice</a>
            <a href="">Cookie Preferences</a>
            <a href="">Support</a>
        </div>
        
    </div>
</div>



  <!-- Plugin JS File -->
  <script src="~/Benzoo/assets/vendor/jquery/jquery.min.js"></script>
  <script src="~/Benzoo/assets/vendor/jquery.plugin/jquery.plugin.min.js"></script>
  <script src="~/Benzoo/assets/vendor/jquery.countdown/jquery.countdown.min.js"></script>
  <script src="~/Benzoo/assets/js/main.min.js"></script>
   @await Html.PartialAsync("_ValidationScriptsPartial")
</body>

</html>