@{
    Layout = "";
}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Benzoo</title>
  <link rel="icon" type="image/png" href="assets/images/icons/favicon.png">
  <script src="~/Benzoo/assets/js/webfont.js" async=""></script>
  <link rel="preload" href="~/Benzoo/assets/vendor/fontawesome-free/webfonts/fa-regular-400.woff2" as="font" type="font/woff2"
    crossorigin="anonymous">
  <link rel="preload" href="~/Benzoo/assets/vendor/fontawesome-free/webfonts/fa-solid-900.woff2" as="font" type="font/woff2"
    crossorigin="anonymous">
  <link rel="preload" href="~/Benzoo/assets/vendor/fontawesome-free/webfonts/fa-brands-400.woff2" as="font" type="font/woff2"
    crossorigin="anonymous">
  <link rel="preload" href="~/Benzoo/assets/fonts/wolmart.ttf" as="font" type="font/ttf" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="~/Benzoo/assets/vendor/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="~/Benzoo/assets/vendor/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" type="text/css" href="~/Benzoo/assets/vendor/animate/animate.min.css">
  <link rel="stylesheet" type="text/css" href="~/Benzoo/assets/vendor/magnific-popup/magnific-popup.min.css">
  <link rel="stylesheet" type="text/css" href="~/Benzoo/assets/css/style.min.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800%7CSeoge+Script:400,500,600,700,800"
    media="all">
</head>

<body class="loaded" style="background-color: #063a67;">
  
  <div class="page-wrapper">
    <main class="main">
            <h1 style="color:white;">Forgot Password Confirmation</h1>
            <p style="color:white;">
                Please check your email to reset your password.
            </p>
           
     
    </main>
  </div>
 
</div>



  <!-- Plugin JS File -->
  <script src="~/Benzoo/assets/vendor/jquery/jquery.min.js"></script>
  <script src="~/Benzoo/assets/vendor/jquery.plugin/jquery.plugin.min.js"></script>
  <script src="~/Benzoo/assets/vendor/jquery.countdown/jquery.countdown.min.js"></script>
  <script src="~/Benzoo/assets/js/main.min.js"></script>
   @await Html.PartialAsync("_ValidationScriptsPartial")
</body>

</html>

