@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Content -->
    <!--Under Maintenance -->
    <div class="container-xxl container-p-y">
        <div class="misc-wrapper">
            <h1 class="mb-2 mx-2">Welcome !</h1>
            <p class="mb-4 mx-2">متحدون نقف, متفرقون نقع</p>
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-primary">الذهاب ال لوحة التحكم</a>
            <div class="mt-4">
                <img src="../../assets/img/illustrations/boy-working-light.png"
                     alt="girl-doing-yoga-light"
                     width="500"
                     class="img-fluid"
                     data-app-light-img="illustrations/boy-working-light.png"
                     data-app-dark-img="illustrations/boy-working-dark.png" />
            </div>
        </div>
    </div>
    <!-- /Under Maintenance -->
    <!-- / Content -->
</div>



