<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>
        Hellow {{userName}},<br />
        click on the following link to reset password. <br /> <br />
        <a href="http://eibtek2-001-site4.atempurl.com/Account/ResetPassword?UserId={{link1}}&Code={{link2}}">Reset Password</a>
        <!--<a href="https://localhost:44369/account/resetpassword?userid={{link1}}&code={{link2}}">reset password</a>-->
        <!--<a href="https://system.eibtek.com/Account/ResetPassword?UserId={{link1}}&Code={{link2}}">Reset Password</a>-->
        <!--<a href=" https://alsalamtravel.co.uk/Account/ResetPassword?UserId={{link1}}&Code={{link2}}">Reset Password</a>-->
    </p>
   
</body>
</html>